.fa{
    color: gold
}
span{
    color: red;
}
#txtar{
    width: 50%;
    height: 80px;
}
div{
    font-family: Helvetica;
    font-size: 10px;
}
table{
    width: 50%;
    font-family: Times New Roman;
    font-size: 12px;
    border-collapse: collapse;
}
tr{
    text-align: center;
}
#sbm{
    font-family: Times New Roman;
    font-size: 12px;
}
tr:nth-of-type(even) {
    background-color: #eee
}
.lef{
    text-align: left;
    width: 25%;
}